* {
  margin: 0;
}

.ant-picker {
  margin-top: 3px !important;
  background-color: #f9f9f9 !important;
  height: 50px;
  width: 100%;
  border: 0.25px solid #c0c0c0 !important;
  border-radius: 4px !important;
}
